@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Azer";
	src: url("./assets/29LT_Azer.ttf") format("truetype");
}

* {
	font-family: "Azer";
}

.bm_img {
	height: 400px;
	background-image: url("./assets/img/bg-pattern.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.hero_img {
	height: 620px;
	width: 630px;
	background-image: url("./assets/img/ppl_talking.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.br-test {
	border: 2px solid red;
}
