@tailwind base;
@tailwind components;
@tailwind utilities;

.bm_img {
	height: 400px;
	background-image: url("./assets/img/bm_img.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.br-test {
	border: 2px solid red;
}
